body{
    background-color: #b7d5e5;
}
.container{
    display: flex;
    box-shadow: 10px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
section div{
    margin-top: 5rem;
}
section{
    background-color: #3065ac;
    gap: 1rem;
    width: 100%;
    align-items: center;
}
.dropzone{
    background-color: gainsboro;
    border: 5px dashed #bbb;
    gap: 1rem;
}
section, .dropzone{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 23.5rem;
}
.draggable{
    cursor: move;
}
.over{
    background-color: white;
    color: black;
}
.draggable img{
    border: solid #363636;
}

.dropzone img{
    border: solid #ecdf4f
}
