.container{
    display: flex;
    gap: 100px;
}
.draggable{
    padding: 20px;
    background-color: green;
    cursor: move;
    border-radius: 5px;
    max-height: 300px;
    max-width: 100px;
}
.dropzone{
    padding: 40px;
    background-color: red;
    border: 2px dashed #bbb;
    border-radius: 5px;
    min-width: 300px;
    min-height: 300px;
}
.dragging{
    background-color: black;
    color: white;
}
.over{
    background-color: #606060;
    color: white;
}