.Ingradientes{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.ModoPreparo{
    justify-content: flex-start;
    align-items: flex-start;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho{
    text-align: center;
    align-items: baseline;
    align-items: center;
}
.desc{
    text-align: center;
    font-family:fantasy;
}
#cookie{
    background-repeat: no-repeat;
    background-image:url(cookie2.png);
    background-position: 110%;

}