*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}
body{
    height: 100%;
}
.grid-container{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1.5fr 3fr 2fr;
    height: 100vh;
    grid-template-areas: 
                "heading1 heading2 heading3 heading4"
                "heading5 heading6 heading6 heading8"
                "heading5 heading7 heading9 heading8";
}
.heading1{
    grid-area: heading1;
    padding: 20px;
    align-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px;
    text-align: left;
}
.heading2{
    grid-area: heading2;
    padding: 20px;
    text-align: center;
    align-content: center;
    background-color: rgb(48, 160, 212);
    color: white
}
.heading3{
    grid-area: heading3;
    padding: 20px;
    text-align: center;
    align-content: center;
    background-color: rgb(91, 247, 169);
    color: white;
}
.heading4{
    grid-area: heading4;
    padding: 20px;
    text-align: center;
    align-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
.heading5{
    grid-area: heading5;
    padding: 20px;
    text-align: left;
    align-content: center;
    background-color: #4c6085;
    color:white;
    padding: 80px;
}
.heading6{
    grid-area: heading6;
    padding: 20px;
    text-align: center;
    align-content: center;
    background-color: black;
    color: white;
    text-align: left;
    align-content: center;
    padding: 55px;
 
}
.heading7{
    grid-area: heading7;
    padding: 20px;
    text-align: center;
    align-content: center;
    background-color: rgb(48, 160, 212);
    color: white;
    text-align: left;
    align-items: center;
    padding: 30px;
}
.heading8{
    grid-area: heading8;
    padding: 20px;
    text-align: center;
    align-content: center;
    background-color: #4c6085;
    color:white;
    text-align: left;
    align-content: center;
    padding: 30px;
}
.heading9{
    grid-area: heading9;
    padding: 20px;
    text-align: center;
    align-content: center;
    background-color: rgb(91, 247, 169);
    color: white;
    align-items: center;
    text-align: left;
    padding: 30px;
}
#titulo{
    text-align: left;
    align-content: center;
}
