body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Space Grotesk", sans-serif;
}
.container{
   flex-direction: column;
}
.header{
    display: flex;
    width: 428px;
    height: 60px;
    align-items: center;
    justify-content: space-between; 
}
.hamburguer{
    width: 20.92px;
    height: 20px;
    margin-right: 20px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.nome{
    color: #3778FA;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.main-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}
.titulo{
    display: flex;
    font-size: 46px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.subtitulo{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: -21px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.containerBack{
    display: flex;
    width: 388px;
    height: 207px;
    border-radius: 16px;
    background: #222;
    margin: 70px 18px 0px 18px;
    justify-content: center;
    
}
.cel{
    width: 100px;
    margin-bottom: -20px;
    padding: 5px;
}
.imgc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 93px;
}
.titulo2{
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -1.2px;
    margin: 112px 32px 0px 32px
}
.video{
    display: flex;
    width: 388px;
    margin: 40px 20px 0px 20px;
}
.retangulo{
    display: flex;
    width: 388px;
    height: 731px;
    margin: 30px 22px 0px 22px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F3F3F3;
    flex-direction: column;
    align-items: center;
}
.div0{
    display: flex;
    margin-top: 100px;
    background-color: white;
    height: 100px;
    border-radius: 16px;
    width: 344px;
    height: 255px;
    flex-shrink: 0;
    justify-content: center;
}
.img4{
    width: 202.138px;
    height: 301px;
    flex-shrink: 0;
    margin: -47px 15px 15px 0px
}
.layout1{
    display: flex;
    width: 344px;
    border-radius: 8px;
    background-color: white;
    justify-content: space-around;
    margin: 45px 28px 0px 28px;
    align-items: center;
}
.text1, .text3, .text4{
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}
.text3{
    margin-left: -29px;
}
.signal3{
    margin-right: -29px;
}
.layout2 {
    width: 344px;
    height: 100px;
    border-radius: 8px;
    background-color: white;
    margin: 9px;
}
.text2 {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-left: 15px;
    margin-top: -5px;
}
.sub {
    flex-shrink: 0;
    padding-left: 320px;
    margin-top: -35px;
}
.subtext {
    color: #65676C;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.25px;
    margin-top: 5px; 
    padding-right: 120px;
    margin-left: 15px;
}
.layout3{
    display: flex;
    width: 344px;
    border-radius: 8px;
    background-color: white;
    justify-content: space-around;
    margin: 2px 28px 0px 28px;
    align-items: center;
    height: 54px;
    justify-content: space-around;
}
.layout4{
    display: flex;
    width: 344px;
    border-radius: 8px;
    background-color: white;
    justify-content: space-around;
    margin: 10px 28px 40px 28px;
    align-items: center;
    height: 54px;
    justify-content: space-around;
}
.footer{
    margin-top: 95px;
    width: 428px;
    height: 1043px;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
    background: #3778FA;
}
.end1{
    display: flex;
    height: 414px;
    background: #3778FA;
    border-radius: 20px 20px 0px 0px;
    flex-direction: column;
}
.textEnd{
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    letter-spacing: -1.84px;  
    margin-left: 22px;
    margin-top: 70px;
}
.subtextEnd{
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 22px;
    margin-top: -15px;
}
.bottom{
    display: flex;
    width: 119px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF; 
    justify-content: center;
    align-items: center;
    margin: 15px 0px 3px 22px
}
.bottomText{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; 
}
.bar{
    width: 388px;
    height: 1px;
    background-color: white;
    margin: 0 auto;
}
.end2, .end3{
    display: flex;
    margin: 55px 22px 15px 22px;
    justify-content: space-between;
}
.subtextEnd2{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; 
}
.textEnd2{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.columnEnd2{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-top: 4.5px;
    line-height: 2.1;
 
}
.end3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columnEnd3 {
    display: flex;
    justify-content: center; 
}
.column {
    margin-right: 20px; 
}
.textEnd {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    line-height: 22px; 
}
.textEnd31 {
    font-weight: 500;
}
.textEnd32 {
    font-weight: 400;
}




