body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
    font-family: "Space Grotesk", sans-serif;
}
.container{
   
}
.header{
    display: flex;
    width: auto;
    height: 70px;
    align-items: center;
    justify-content: space-between; 
}
.hamburguer{
    width: 20.92px;
    height: 20px;
    align-items: center;
    margin-right: 20px;
}
.nome{
    color: #3778FA;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.main-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titulo{
    display: flex;
    font-size: 46px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.subtitulo{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: -21px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.containerBack{
    width: 388px;
    height: 207px;
    border-radius: 16px;
    background: #222;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
}
.cel{
    width: 110px;
}
.imgc{
    display: flex;
    justify-content: center;
}

