body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(248, 245, 245);
}
 @import url('https://fonts.cdnfonts.com/css/sporting-grotesque');            
#header{
    display: flex;
    align-items: center;
    height: px;
    width: 100%;
    background-color: #FFF;
    justify-content: space-between;
    gap: 10.12rem;
}
#logoPurple{
    font-family: 'Sporting Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #6765F0;
    border-radius: 10px;
    padding: 0.3rem;
    margin-left: 1rem;
}
#logoContinuous{
    color: #6765F0;
    font-family: 'Sporting Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
#hamb{
    display: flex;
    margin-right: 1rem;
}
.main{
    display: flex;
    margin-left: 1.2rem;
    flex-direction: column;
}
.title, .title-workout, .title-morningWorkout{
    display: flex;
    font-family: 'Sporting Grotesque', sans-serif;
    color: #262524;
    font-size: 28px;
    font-weight: 700;
}
.divTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#men{
    display: flex;
    margin: 3.6rem 0rem 0rem -5.3rem;
}
.subtext, .subtextLong, .subtext-morningWorkout{
    display: flex;
    font-family: "Poppins", sans-serif;
    color: #262524;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 180%;
    letter-spacing: 0.12px;
    margin: -3.3rem 4rem 0rem 0;
}
.aboutSite{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.3rem;
}
.startSite1, #learnMore, .startSite2{
    display: flex;
    border-radius: 7.143px;
    font-family:"Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
}
.startSite1, .startSite2{
    width: 11rem;
    height: 2.5rem;
    background-color: #264373;
    color: #FFFFFF;
}
#learnMore{
    width: 7.8125rem;
    height: 2.5rem;
    background-color: #FFF;
    color:#264373;
}
#brands{
    color: #262524;
    font-family:"Poppins", sans-serif;
    font-size: 0.75rem;
    margin: 2.5rem 1.8rem;
}
.brandsLogos{
    display: flex;
    flex-direction: row;
    margin: -2.5rem 2rem 0 2rem;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
#logoNike{
    width: 3.5rem;
}
#logoAdidas{
    width: 3.5rem;
    height: 2rem;
}
#pumaLogo{
    width: 6rem;
    height: 4rem;
    margin-bottom: 0.4rem;
}
#rebookLogo{
    width: 7rem;
    height: 5rem;
}
.image-container-men, .image-container-men2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.image-container-men{
    margin: 4.5rem 5rem 0rem 10rem;
}
#circle, #bottom-left{
    display: flex;
    height: 2.19825rem;
    width: 2.19825rem;
    border-radius: 70px;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
#circle{
    background: linear-gradient(50deg, #4BACE1 15.91%, #D8F1FF 92.82%);
    box-shadow: 0px 2.345px 8.207px 0px rgba(0, 0, 0, 0.09);
}
.right-content, .left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7rem;
}
#top-left{
    width: 6.85131rem;
    height: 2.93106rem;
    border-radius: 0.36638rem;
    margin: -8rem -21rem;
}
#yellow-circle{
    display: flex;
    width: 2.19825rem;
    height: 2.19825rem;
    border-radius: 3.66381rem;
    background: linear-gradient(45deg, #F8A422 13.75%, #FEDEAC 92.08%);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2.345px 8.207px 0px rgba(0, 0, 0, 0.09);
    margin: 0.4rem 0 0 0.8rem;
}
#infos, #infos-kal{
    display: flex;
    flex-direction: column;
    font-family:"Poppins", sans-serif;
    gap: 0.75rem;
}
#trainer, #top-left{
    background: #FFF;
    box-shadow: 0px 11.724px 46.897px 0px rgba(51, 78, 123, 0.30);
    align-items: center;
}
#trainer{
    display: flex;
    width: 6.8rem;
    height: 5.75rem;
    border-radius: 5.862px;
    background: #FFF;
    flex-direction: column;
    margin-left: -4rem;
}
#text-trainer, #infos-num{
    display: flex;
    color: #262524;
    font-family:"Poppins", sans-serif;
    font-size: 0.58619rem;
    font-weight: 700;
}
#infos-num{
    margin: -2rem 0 0 3.5rem;
}
#infos-subtext{
    display: flex;
    margin-left: 3.5rem;
}
#subtext-trainer, #infos-subtext, #infos-subtext-men2{
    color: #262524;
    font-family:"Poppins", sans-serif;  
    font-size: 0.43963rem;
    font-weight: 400;
    margin-top: -0.4rem;
}
.circle-trainer{
    display: flex;
    margin-top: 0.5rem;
    background-color: #D388FF;
    border-radius: 2.41813rem;
}
#bottom-left{
    background: linear-gradient(50deg, #5478EF 15.91%, #D6DFFF 92.82%);
    margin-top: -21rem;
    margin-bottom: -6rem;
    margin-left: -20.5rem;
}
.content{
    display: flex;
    margin: 5rem 0 0 1.2rem;
    flex-direction: column;
    gap: 2rem;
}
.subtextLong{
    display: flex;
    margin-right: 1.5rem;
}
.exercices{
    display: flex;
    padding: 1.75rem;
    border-radius: 1.875rem;
    background: linear-gradient(87deg, #6462F0 0%, #9190E9 95.5%);
    width: 70%;
    height: 25.75rem;
    flex-direction: column;
    margin: 5rem 1.2rem 0 1.8rem;
    justify-content: space-between;
}
.container-exercices{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
}
#layout-container-exercices{
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 1.25rem;
    opacity: 0.2;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}
.text-container-exercices{
    font-weight: 700;
    margin: 0 0 1.5rem 1.5rem;
}
.text-container-exercices, #subtext-container-exercices{
    color: #FFF;
    font-family:"Poppins", sans-serif; 
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.01rem;
}
#subtext-container-exercices{
    font-weight: 400;
    margin: -1.2rem 0 1.5rem 1.5rem;
    opacity: 0.5;
}
.text-style{
    display:flex;
    flex-direction: column;
}
#arrow-container-exercices1{
    margin: 2.2rem 0 0 -1.1rem;
}
#arrow-container-exercices2{
    margin: 2.2rem 0 0 -2.1rem;
}
#arrow-container-exercices3{
    margin: 2.2rem 0 0 -0.1rem;
}
#img3{
    width: 50%;
}
.title-workout{
    margin-right: 5rem;
}
.startSite2{
    margin: 2.7rem 0 0 1.2rem;
}
.image-container-men2{
    margin: 4.5rem 0 0 4.5rem;

}
#men2{

}
#circle-blue-dark, #circle-blue-light, #circle-pink{
    display: flex;
    width: 2.16819rem;
    height: 2.16819rem;
    align-items: center;
    justify-content: center;
}
#circle-blue-dark{
    background: linear-gradient(50deg, #5478EF 15.91%, #D6DFFF 92.82%);
    filter: drop-shadow(0px 11.564px 46.255px rgba(51, 78, 123, 0.30));
    border-radius: 1.80681rem;
    margin-left: 0.7rem;
}
#box-left-men2{
    display: flex;
    width: 7.33581rem;
    height: 2.89094rem;
    border-radius: 0.36138rem;
    background: #FFF;
    box-shadow: 0px 11.564px 46.255px 0px rgba(51, 78, 123, 0.30);
    margin: 12rem 10rem 0 0;
    align-items: center;
}
#infos-kal{
    gap: 0.25rem;
    margin: 0 0 0.2rem 0.5rem;
}
#title-infos{
    font-size: 0.57819rem;
    font-weight: 700;
}
.title-morningWorkout{
    margin: 8.2rem 0 0 1.2rem;
}
.subtext-morningWorkout{
    margin: 1rem 1.5rem 0 1.2rem ;
}
.contaier-woman{
    display: flex;
    margin: 5.5rem 0 0 3.5rem;
}
#box-left-woman{
    display: flex;
    width: 8.49331rem;
    height: 3.34713rem;    
    border-radius: 0.41838rem;
    background: #FFF;
    box-shadow: 0px 13.388px 53.554px 0px rgba(51, 78, 123, 0.30);     
}