body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(248, 245, 245);
}
 @import url('https://fonts.cdnfonts.com/css/sporting-grotesque');            
#header{
    display: flex;
    align-items: center;
    height: px;
    width: 100%;
    background-color: #FFF;
    justify-content: space-between;
    gap: 10.12rem;
}
#logoPurple{
    font-family: 'Sporting Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #6765F0;
    border-radius: 10px;
    padding: 0.3rem;
    margin-left: 1rem;
}
#logoContinuous{
    color: #6765F0;
    font-family: 'Sporting Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
#hamb{
    display: flex;
    margin-right: 1rem;
}
.main{
    display: flex;
    margin-left: 1.2rem;
    flex-direction: column;
}
.title{
    display: flex;
    font-family: 'Sporting Grotesque', sans-serif;
    color: #262524;
    font-size: 28px;
    font-weight: 700;
}
.divTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#men{
    display: flex;
    margin: 3.6rem 0rem 0rem -5.3rem;
}
.subtext{
    display: flex;
    font-family: "Poppins", sans-serif;
    color: #262524;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 180%;
    letter-spacing: 0.12px;
    margin: -3.3rem 4rem 0rem 0;
}
.aboutSite{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.3rem;
}
#startSite, #learnMore{
    display: flex;
    border-radius: 7.143px;
    font-family:"Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
}
#startSite{
    width: 11rem;
    height: 2.5rem;
    background-color: #264373;
    color: #FFFFFF;
}
#learnMore{
    width: 7.8125rem;
    height: 2.5rem;
    background-color: #FFF;
    color:#264373;
}
#brands{
    color: #262524;
    font-family:"Poppins", sans-serif;
    font-size: 0.75rem;
    margin: 2.5rem 1.8rem;
}
.brandsLogos{
    display: flex;
    flex-direction: row;
    margin: -2.1rem 1.2rem 0 1.2rem;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
#logoNike{
    width: 3.5rem;
}
#logoAdidas{
    width: 3.5rem;
    height: 2rem;
}
#pumaLogo{
    width: 6rem;
    height: 4rem;
    margin-bottom: 0.4rem;
}
#rebookLogo{
    width: 7rem;
    height: 5rem;
}
.image-container-men{
    display: flex;
    position: relative;
    align-items: center;
    margin: 4.5rem 5rem 0rem 10rem;
    justify-content: center;
}
#circle, #bottom-left{
    display: flex;
    height: 2.19825rem;
    width: 2.19825rem;
    border-radius: 70px;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
#circle{
    background: linear-gradient(50deg, #4BACE1 15.91%, #D8F1FF 92.82%);
    box-shadow: 0px 2.345px 8.207px 0px rgba(0, 0, 0, 0.09);
}
.right-content, .left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7rem;
}
#top-left{
    width: 6.85131rem;
    height: 2.93106rem;
    border-radius: 0.36638rem;
    margin: -8rem -21rem;
}
#yellow-circle{
    display: flex;
    width: 2.19825rem;
    height: 2.19825rem;
    border-radius: 3.66381rem;
    background: linear-gradient(45deg, #F8A422 13.75%, #FEDEAC 92.08%);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2.345px 8.207px 0px rgba(0, 0, 0, 0.09);
    margin: 0.4rem 0 0 0.8rem;
}
#infos{
    display: flex;
    flex-direction: column;
    font-family:"Poppins", sans-serif;
    gap: 0.75rem;
}
#trainer, #top-left{
    background: #FFF;
    box-shadow: 0px 11.724px 46.897px 0px rgba(51, 78, 123, 0.30);
    align-items: center;
}
#trainer{
    display: flex;
    width: 6.8rem;
    height: 5.75rem;
    border-radius: 5.862px;
    background: #FFF;
    flex-direction: column;
    margin-left: -4rem;
}
#text-trainer, #infos-num{
    display: flex;
    color: #262524;
    font-family:"Poppins", sans-serif;
    font-size: 0.58619rem;
    font-weight: 700;
}
#infos-num{
    margin: -2rem 0 0 3.5rem;
}
#infos-subtext{
    display: flex;
    margin-left: 3.5rem;
}
#subtext-trainer, #infos-subtext{
    color: #262524;
    font-family:"Poppins", sans-serif;  
    font-size: 0.43963rem;
    font-weight: 400;
    margin-top: -0.4rem;
}
.circle-trainer{
    display: flex;
    margin-top: 0.5rem;
    background-color: #D388FF;
    border-radius: 2.41813rem;
}
#bottom-left{

}