body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
.headerH{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 40px;
    color: rgb(218, 165, 32);
}
.img{
    text-align: center;
}
.div0{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.containerH{
    background-color: black;
    border-radius: 10px;
    height: 300px;
    
}
.textoH{
    font-size: 20px;
    color: rgb(218, 165, 32);
    text-align: center;
}
.tituloH{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: rgb(218, 165, 32);
    padding: 50px 200px;
    font-size: 30px;
}
.inicio{
    justify-content: center;
    text-align: center;
}
@media (min-width: 576px) {
    
    .containerH {
        flex-wrap: wrap;
    }

    .main-content .box {
        flex: 1 1 35%;    
    }

    .sidebar .box {
        flex: 1 1 35%
    }
    .sidebar, .main-content {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {

    .containerH {        
        
    }
    
    .sidebar {
        flex-direction: row ;
    } 

    .sidebar .box {
        flex: 1 1 55%;  
    }

    .main-content {
        flex: 3;
    } 
}

