body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: rgb(218, 165, 32);
    position: relative;
}
.headerT{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
  
  .hamburguer {
    margin: auto 0;
    margin-right: 20px;
    align-self: flex-start;
    width: 90px;
    height: 90px;
}
.img{
    text-align: center;
    width: 400px;

}

.container{
    display: flex;
    background-color: black;
    border-radius: 15px;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: center;
    
}
.textoH, .textoR, .textoA{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    letter-spacing: 2px;
}
.titulo{
    display: flex;
    padding: 20px;
    background-color: rgb(243, 243, 243);
    font-size: 30px;
    justify-content: center;
    color: black;
    background-color: rgb(218, 165, 32);
    border-radius: 15px;
    max-width: 300px;
    align-items: center;
    margin: 0 auto; 
}
.link{
    display: flex;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}
.link:hover {
    color: rgb(218, 165, 32);
}

.main-content{
    display: flex;
    justify-content: center;
    flex: 1 1 30%; 
    min-width: 300px; 
    height: auto;
}
.div0{
    background-color: rgb(243, 243, 243);
    padding: 15px;
}



@media (min-width: 576px) {
   
    .containerH {
        flex-wrap: wrap;
    }


    .main-content .box {
        flex: 1 1 35%;    
    }


    .sidebar .box {
        flex: 1 1 35%
    }
    .sidebar, .main-content {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media (min-width: 992px) {


    .containerH {        
       
    }
   
    .sidebar {
        flex-direction: row ;
    }


    .sidebar .box {
        flex: 1 1 55%;  
    }


    .main-content {
        flex: 3;
    }
}





