body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
}
.header {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #000;
    color: rgb(218, 165, 32);
    width: 100%;
}
.logo{
    width: 140px;
    height: 150px;
}
.hamburger, .icon2 {
    width: 50px;
    height: 40px;
}
.telefone,.placeholder{
    display: flex;
    width: 50px;
    height: 40px;
}
.containerTP{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.linkS{
    display: flex;
    margin-top: 10px;
    color: rgb(218, 165, 32);
    text-decoration: none;
    font-size: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}
.headerT {
    font-size: 40px;
    flex-grow: 1;
    text-align: center;
}
.subHeader {
    display: flex;
    justify-content: center;
    width: 100%; 
    background-color: rgb(218, 165, 32);
    color: #000;
}
.textH,.textA,.textR,.textF,.textRR,.textM{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.main-content1{
    justify-content: center;
}
.divC, .divL {
    display: flex;
    padding: 20px;
    background-color: rgb(243, 243, 243);
    font-size: 20px;
    justify-content: center;
    color: black;
    background-color: rgb(218, 165, 32);
    border-radius: 15px;
    width: 250px;
    align-items: center;
    margin: 0 auto; 
}
.container, .container2 {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    gap: 20px;
    width: 450px;
    margin: 0 auto;
    flex-wrap: wrap; 
}
.fbox1, .fbox2, .fbox3, .box1, .box2, .box3 {
    padding: 30px;
    color: rgb(218, 165, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.flink1, .flink2, .flink3, .link1, .link2, .link3 {
    border: 1px solid rgb(218, 165, 32); 
    color: rgb(255, 255, 255); 
    padding: 5px 10px; 
    text-decoration: none; 
    transition: color 0.3s; 
    font-size: 10px;
}
.flink1:hover, .flink2:hover, .flink3:hover, .link1:hover, .link2:hover, .link3:hover{
    color: rgb(218, 165, 32);
}
.linkH1, .linkH2 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
}
.linkH1:hover, .linkH2:hover{
    color: white;
}
.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; 
}
.main-content iframe {
    flex: 1 30%; 
    min-width: 350px; 
    height: auto;
}
.div0{
    background-color: rgb(243, 243, 243);
    padding: 15px;
}
.div01{
    background-color: rgb(0, 0, 0);
    padding: 7px;
}
.containerA{
    display: flex;
    background-color: black;
    border-radius: 15px;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.textS, .texttel{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
}

@media (min-width: 640px) {
    .container, .container2 {
        flex-wrap: wrap;
    }

    .main-content iframe {
        flex: 1 1 60%; /
    }
    .textS, .texttel{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        text-align: justify;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        letter-spacing: 2px;
        margin: 0 auto;
    }
    .main-content1{
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1025px) {

    .main-content iframe {
        flex: 1 1 30%; 
    }
    .textS{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        text-align: justify;
        letter-spacing: 2px;
    }
    .texttel{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        text-align: justify;
        letter-spacing: 2px;
        margin: 0 auto;
    }
    .header {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #000;
        color: rgb(218, 165, 32);
    }
    .hamburger, .icon2 {
        width: 50px;
        height: 40px;
    }
    .telefone,.placeholder{
        display: flex;
        width: 50px;
        height: 40px;
    }
    .containerTP{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .linkS{
        display: flex;
        margin-top: 10px;
        color: rgb(218, 165, 32);
        text-decoration: none;
        font-size: 10px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        justify-content: center;
        transition: background-color 0.3s ease;
        margin-bottom: 20px;
    }
    .headerT {
        font-size: 50px;
        flex-grow: 1;
        text-align: center;
    }
    .subHeader {
        display: flex;
        justify-content: center;
        width: 100%; 
        background-color: rgb(218, 165, 32);
        color: #000;
    }
    .textH,.textA,.textR,.textF,.textRR,.textM{
        color:white;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
    }
    .main-content1{
        justify-content: center;
    }
    .divC, .divL {
        display: flex;
        padding: 20px;
        background-color: rgb(243, 243, 243);
        font-size: 30px;
        justify-content: center;
        color: black;
        background-color: rgb(218, 165, 32);
        border-radius: 15px;
        max-width: 300px;
        align-items: center;
        margin: 0 auto; 
    }
    .container, .container2 {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        border-radius: 15px;
        background-color: rgb(0, 0, 0);
        gap: 20px;
        width: 1150px;
        margin: 0 auto;
        flex-wrap: wrap; 
        
    }
}